In [1]:
nams = ["John", "Jane", "Richard"]

In [2]:
nams.index("John")

0

In [3]:
for nam in nams:
    print(nams.index(nam))

0
1
2

In [4]:
lst_index = []
for nam in nams:
     lst_index.append(nams.index(nam))

lst_index

[0, 1, 2]

## list comprehension option

In [83]:
[nams.index(nam) for nam in nams]

[0, 1, 2]

In [5]:
sas= ["kk","ll","pp"]
uppersas=[]
for sa in sas:
    uppersas.append(sa.upper())
#print(uppersas)

['KK', 'LL', 'PP']

In [87]:
[sa.upper() for sa in sas]

['KK', 'LL', 'PP']

In [6]:
names = "John"

In [7]:
import pandas as pd

data_df = pd.DataFrame(

    {
      "name" : ["K", "Y", "Z"],
        "age" : [12, 13,14]
        
    }

)

In [14]:
sas= ["kk","ll","pp"]
uppersas=[]

In [15]:
for ind in range(len(sas)):
    uppersas.append(sas[ind].upper())
uppersas

['KK', 'LL', 'PP']

In [77]:
nums=[1,4,18,19,11,23,27,23]

prime_numbers = []

for num in nums:
    iterate_val = range(1,num-1)
    dummy_list =[]
    for p in iterate_val:
        if   num%p==0 and p>1:
            dummy_list.append(p)
    if(len(dummy_list))<1:
        prime_numbers.append(num)

In [94]:
nums=range(1,51)
[num for num in nums if 
 len([p for p in range(1, num-1) if num%p==0 and p>1])<1]

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [97]:
def prime_vals(n):
    nums = range(1,n+1)
    prime_vals = [num for num in nums if 
    len([p for p in range(1, num-1) if num%p==0 and p>1])<1]
    return(prime_vals)

In [99]:
#prime_vals(100)

In [81]:
even_list = []
for num in nums:
    if num%2 ==0:
        even_list.append(num)
even_list

[4, 18]

In [100]:
def even_val(n):
    nums = range(1, n+1)
    even_final = [num for num in nums if num%2==0]
    return(even_final)

In [102]:
def odd_val(n):
    nums = range(1, n+1)
    odd_final = [num for num in nums if not num%2==0]
    return(odd_final)

odd_val(10)

[1, 3, 5, 7, 9]

In [90]:
ven_comp = [num for num in nums if num%2==0]
ven_comp

[4, 18]

In [82]:
odd_list = []
for num in nums:
    if not num%2 ==0:
        odd_list.append(num)
odd_list

[1, 19, 11, 23, 27, 23]

In [92]:
odd_comp = [num for num in nums if num%2!=0]
odd_comp

[1, 19, 11, 23, 27, 23]

In [105]:
nams = nams
index_val = [i for i in range(len(nams))]

In [106]:
nams

['John', 'Jane', 'Richard']

In [108]:
zip(nams, index_val)

In [112]:
dict_val = {k:v for k,v in zip(nams, index_val)}

In [120]:
def createDictFromList(list1, list2):
    zipped_obj = zip(list1, list2)
    return({
        k:v for k, v in zipped_obj
    })

In [121]:
createDictFromList(nams, index_val)

{'John': 0, 'Jane': 1, 'Richard': 2}

In [122]:
int_list =[1, 2, 3, 4, 5]
[i**2 for i in int_list]

[1, 4, 9, 16, 25]

In [123]:
[i**3 for i in int_list]

[1, 8, 27, 64, 125]

In [124]:
[i**i for i in int_list]

[1, 4, 27, 256, 3125]

In [138]:
import numpy as np
def custom_pow1(list_val, pow_val=np.nan):
    
    if np.isnan(pow_val):
        return_obj =  [i**i for i in list_val]
    else:
        return_obj =[i**pow_val for i in list_val]
    return(return_obj)

In [139]:
custom_pow1(int_list)

[1, 4, 27, 256, 3125]

In [140]:
custom_pow1(int_list, pow_val=3)

[1, 8, 27, 64, 125]

In [141]:
[ i for i in  [15, 20, 25, 30, 35] if i%2==0 and i >1]

[20, 30]

### Write a list comprehenion/for loop that retuns every 4th vlaue in  range of 1 to 100

In [149]:
range_1=range(1,100+1)
fourth_values=[y for y in range_1 if y%4==0]
#fourth_values
#range_1

### You have a list of strings, ["apple", "banana", "cherry"]. Write a list comprehension that converts each string to uppercase.

In [151]:
fruits = ["apple", "banana","cherry"]
upper_case_fruits = [fruit.upper() for fruit in fruits]
print(upper_case_fruits)

['APPLE', 'BANANA', 'CHERRY']

 ### Now create a dictionary comprehension  to output the fruit as key and length of each character in the fruit as value

In [171]:
dict = {fruit: len(fruit) for fruit in fruits}
dict

{'apple': 5, 'banana': 6, 'cherry': 6}

In [154]:
import random  as rn

In [166]:
x_list = [rn.randint(200, 1000) for i in range(1, 100)]

In [167]:

#x_list.insert(0, np.nan)
[x_list[i] for i in range(0,100) if i%4==0]

[665,
 983,
 783,
 686,
 934,
 871,
 449,
 397,
 807,
 256,
 257,
 358,
 305,
 733,
 841,
 629,
 225,
 748,
 954,
 662,
 935,
 799,
 968,
 559,
 495]

Given a list of numbers [1, 2, 3, 4, 5, 6], write a single list comprehension that returns: 
"even" for each even number, and
"odd" for each odd number.

In [174]:
number = [1,2,3,4,5,6]
even_list= [(num,"even") for num in number if num%2==0]
print(even_list)

[(2, 'even'), (4, 'even'), (6, 'even')]

In [177]:
type_val = ["even" if i%2==0 and i>1 else "odd" for i in [1, 2, 3, 4, 5, 6]]

In [178]:
{
    k:v for k,v in zip(number, type_val)
}

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even'}

5a Suppose you have a list of words like ["John", "Jane", "Erick", "Benard", "Comprehension"]. Write a list comprehension that extracts the first letter from each word.

In [184]:
names = ["John", "Jane", "Erick", "Benard", "Comprehension"]
first_char = [i[0] for i in names]

Save the outputs as dictionary using dictionary comprehension to show the name of each individual as key and first charatcer as value

In [185]:
{
    k:v for k,v in zip(names, first_char)
}

{'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

6. Using a lists and dictionary of your choice, create  a dictionary containing 4 lists (full name, age, wight, location, gender) of 10 students.

In [188]:
FullNames=["Kasongo Kaongo","Patience Precious","Chapati Chafua"]
Ages=[54,35,18]
Weight=[82,70,63]
Location=["Eldoret North","Gatundu","Butere"]
Genders=["Male","Female","Male"]
student_details={"Fullname":FullNames,
                "Age":Ages,
                "Weight":Weight,
                "Location":Location,
                "Gender":Genders}
student_details

{'Fullname': ['Kasongo Kaongo', 'Patience Precious', 'Chapati Chafua'],
 'Age': [54, 35, 18],
 'Weight': [82, 70, 63],
 'Location': ['Eldoret North', 'Gatundu', 'Butere'],
 'Gender': ['Male', 'Female', 'Male']}

In [189]:
import pandas as pd
df_student=pd.DataFrame(student_details)
print(df_student)

            Fullname  Age  Weight       Location  Gender
0     Kasongo Kaongo   54      82  Eldoret North    Male
1  Patience Precious   35      70        Gatundu  Female
2     Chapati Chafua   18      63         Butere    Male